
h1{
    text-align: center;
    color: black;
}
.about{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    background-image: url(../img/g.jpeg);
}
.home {
    text-align: center;

}
.type1 {
    text-align: center; 
    margin: 1.5px;
    padding-top: 30px;
}
.type2 {
    text-align: center;
    margin: 1.5%;
}
.contact{
    background-image: url(../img/tomato.jpg);
    background-size: cover;
    background-position: cover;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 0px;
}
.order {
    text-align: center;
    background-image: url(../img/t.jpeg);
    font-weight: bold;
}
.call{
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: cover;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
}